<div class="uk-container uk-margin-top">
    <ul uk-accordion>
        <!--<li *ngFor="let faq of faqList; let i=index" class="uk-card uk-card-small uk-card-hover uk-card-body" [ngClass]="{'uk-card-secondary': i%2===0,'uk-card-primary': i%2===1}">-->
        <li>
            <a class="uk-accordion-title" href="#">När är nästa prissänkning?</a>
            <div class="uk-accordion-content">
                <app-countdown></app-countdown>
            </div>
        </li>
        <li *ngFor="let faq of faqList; let i=index" [class.uk-open]="i===0">
            <a class="uk-accordion-title" href="#">{{faq.question}}</a>
            <div class="uk-accordion-content" [innerHTML]="faq.reply"></div>
        </li>
    </ul>
</div>
