<div layout-margin layout-padding>
  <md-toolbar md-scroll-shrink="" class="xtoolbar">
    <div class="md-toolbar-tools">
        <h1 style="padding:30px 0px 0px 30px;">¿</h1>
        <span flex></span>
        <span>Mediocre Design</span>
    </div>
    <md-tabs class="md-raised" md-border-bottom md-selected="vm.selectedIndex" md-center-tabs="true">
        <md-tab id="tab1" aria-controls="tab1-content" md-on-deselect="vm.savedCheck(tab1)">Inställningar</md-tab>
        <md-tab id="tab2" aria-controls="tab2-content" ng-disabled="!vm.userFound">Prishistorik</md-tab>
    </md-tabs>
  </md-toolbar>

  <md-content class="transborder" layout-padding >
      <ng-switch on="vm.selectedIndex" class="tavmanel-container">
        <md-content layout-padding >
          <div role="tavmanel" id="tab1-content"  aria-labelledby="tab1" ng-switch-when="0" md-swipe-left="tabs.next()" md-swipe-right="tabs.previous()">
              <options-tab ng-hide="vm.shutDown"></options-tab>  
          </div>
            <md-progress-circular ng-show="vm.serverPinging" md-diameter="80" md-mode="indeterminate" layout-padding></md-progress-circular>  
          <div role="tavmanel" id="tab2-content" aria-labelledby="tab2" ng-switch-when="1" md-swipe-left="tabs.next()" md-swipe-right="tabs.previous()">        
              <article-tabs ng-hide="vm.shutDown"></article-tabs>
          </div>
        </md-content>
      </ng-switch>
  </md-content>
</div>