<div class="widgets">

  <div class="row">
    <div class="col-lg-6 col-md-12">
      <ba-card cardTitle="Hover Rows" baCardClass="with-scroll table-panel">
        <shared-hover-table></shared-hover-table>
      </ba-card>
    </div>
    <div class="col-lg-6 col-md-12">
      <ba-card cardTitle="Bordered Table" baCardClass="with-scroll table-panel">
        <shared-bordered-table></shared-bordered-table>
      </ba-card>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-12">
      <ba-card cardTitle="Condensed Table" baCardClass="with-scroll table-panel">
        <shared-condensed-table></shared-condensed-table>
      </ba-card>
    </div>
    <div class="col-lg-6 col-md-12">
      <ba-card cardTitle="Striped Rows" baCardClass="with-scroll table-panel">
        <shared-striped-table></shared-striped-table>
      </ba-card>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-12">
      <ba-card cardTitle="Contextual Table" baCardClass="with-scroll table-panel">
        <shared-contextual-table></shared-contextual-table>
      </ba-card>
    </div>
    <div class="col-lg-6 col-md-12">
      <ba-card cardTitle="Responsive Table" baCardClass="with-scroll table-panel">
        <shared-responsive-table></shared-responsive-table>
      </ba-card>
    </div>
  </div>

</div>
