<nav class="uk-navbar-container dev-nav navbar-dark" uk-navbar uk-sticky="show-on-up: true; animation: uk-animation-slide-top; bottom: #bottom">
   <div class="uk-navbar-left">
      <ul class="uk-navbar-nav">
         <a [routerLink]="['']" class="uk-navbar-item uk-logo">
            <span class="brand-logo">
               <i class="fab fa-bimobject fa-fw"></i>
            </span>
            <span class="brand-title">
               BIMobject<sup>&reg;</sup>&nbsp;
            </span> Boilerplate
         </a>
         <li>
            <button class="uk-button uk-button-text" routerLink="articles">Articles</button>
         </li>
         <li>
            <button class="uk-button uk-button-text" routerLink="about">About</button>
         </li>
      </ul>
   </div>
</nav>
