<!DOCTYPE html>
<html>
    <head>
        <!-- style sheet -->
        <link rel="stylesheet" href="/lib/angular-material/angular-material.css"/>
        <link rel="stylesheet" href="/lib/angular/angular-csp.css"/>
        <link rel="stylesheet" href="/views/stylesheet.css"/>
        <link rel="stylesheet" href="/lib/angular-loading-bar/loading-bar.css"/>
    </head>
    
    <body ng-app='app' layout="column">
        <!--<img class="bg-img" data-ng-src="./views/components/bg.jpg"> -->
        <div ng-view></div>
        <script src="./lib/angular/angular.js"></script>
        <script src="./lib/angular-route/angular-route.js"></script>
        <script src="./lib/angular-messages/angular-messages.js"></script>

        <!-- Design JS -->
        <script src="/lib/angular-aria/angular-aria.js"/></script>  
        <script src="/lib/angular-animate/angular-animate.js"/></script>  
        <script src="/lib/angular-material/angular-material.js"/></script>  

        <!-- core modules -->
        <script type="text/javascript" rel="javascript" src='/src/app.js'></script>
        <script type="text/javascript" rel="javascript" src='/src/route-config.js'></script>
        <script type="text/javascript" rel="javascript" src='/src/config.js'></script>          
        <script type="text/javascript" rel="javascript" src='/views/services/directive.controller.js'></script>

        <!-- Middlewares -->
        <script type="text/javascript" rel="javascript" src='/lib/angular-loading-bar/loading-bar.js'></script>
        <script type="text/javascript" rel="javascript" src='/lib/angular-recaptcha/release/angular-recaptcha.js'></script>
        <script src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit" async defer></script>
        <script type="text/javascript" rel="javascript" src='/lib/underscore/underscore.js'></script>
        <script type="text/javascript" rel="javascript" src='/src/underscore.service.js'></script>
        <!-- load momentJS (required for angular-moment) -->
        <script src="/lib/moment/moment.js"></script>
        <!-- load angular-moment -->
        <script src="/lib/angular-moment/angular-moment.js"></script>

        <!-- Controllers -->
        <script type="text/javascript" rel="javascript" src='/views/login/login.controller.js'></script>
        <script type="text/javascript" rel="javascript" src='/views/bypass/bypass.controller.js'></script>
        <script type="text/javascript" rel="javascript" src='/views/user/user.controller.js'></script>
        <script type="text/javascript" rel="javascript" src='/views/articles/article.controller.js'></script>
        <script type="text/javascript" rel="javascript" src='/views/services/article.service.js'></script>
        <!-- Services -->
        <script type="text/javascript" rel="javascript" src='/views/services/data.service.js'></script>

        <script type="text/javascript" rel="javascript" src='/views/services/url.service.js'></script>
        <script type="text/javascript" rel="javascript" src='/views/services/userdata.service.js'></script>
        

                                                        
        <!-- <script type="text/javascript" src="../views/user/pit.js"></script> -->
    </body>
</html>

