
body { 
    font: 12px/20px 'Lucida Grande', Tahoma, Verdana, sans-serif;
    background-image: url(./components/bg3.jpg); 

    height: 100%;
  
}
  
/*
    background-size: cover;
    background-attachment: fixed;
    position: relative;
  */  



.transborder{
/*	background-clip: padding-box;*/      /* Firefox 4, Safari 5, Opera 10, IE 9 */
  -moz-border-radius: 111px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 10px solid rgba(0,0,0,0.3);
	padding: 30px;
	text-align: center;

  -webkit-box-shadow: 35px 35px 22px 3px rgba(0,0,0,0.71);
  -moz-box-shadow: 35px 35px 22px 3px rgba(0,0,0,0.71);
  box-shadow: 15px 15px 9px 1.5px rgba(0,0,0,0.91);
}

.xtoolbar {

  -moz-border-radius: 111px 10px 10px 10px;
  -webkit-border-radius: 111px 10px 10px 10px;
  border: 10px solid rgba(0,0,0,0.3);
	border-radius: 111px 10px 10px 10px;
  height:120px;
	text-align: center;
}
.xtoolbar .title{
  padding-left: 50px;
}

[ng-cloak].splash {
    display: block !important;
}



