<section class="uk-section">
    <div class="uk-container">
        <div class="widgets">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">User information</div>

                    <table class="table table-striped" *ngFor="">
                        <thead>
                            <tr>
                                <th style="width: 10%"></th>
                                <th style="width: 20%">
                                    <span>namn</span>
                                </th>
                                <th style="width: 40%">
                                    <span>pris</span>
                                </th>
                                <th style="width: 10%">
                                    <span>prissankt</span>
                                </th>
                                <th style="width: 20%">
                                    <span>link</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let article of articles">
                                <td>
                                    <!-- <button (click)="remove(article)" class="btn btn-danger">x</button> -->
                                </td>
                                <td>{{article.Namn}} {{article.Namn2}}</td>
                                <td>{{article.Prisinklmoms}}</td>
                                <td>{{article.PrissanktProcent}}</td>
                                <td>
                                    <a target="_blanc" href="{{article.url}}">link</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- <h1 class="uk-heading-divider">Random stuff - Media</h1>

        <article class="uk-article">
            <h2>Font-awesome</h2>
            <p>Using fontawesome pro version serves us with svg icons. These are very configurable but doesn't play nice with the dynamic usage of angular's ngClass.
            This app utilized a very small home-made component of questionable quality to handle this issue.</p>
            <p>the condition is simply the boolean that will switch from true / false. The baseClass is the base font-awesome class; fa + l for light, s for solid etc.
            The remaining variables should be self-explainatory.</p>
            <p>Usage of this component follows:</p>
            <p>
                <code>
                    &lt;app-fa [condition]="lock" baseClass="far fa-fw" truthyIcon="fa-lock-open-alt" falsyIcon="fa-lock"&gt;&lt;/app-fa&gt;
                </code>
            </p>
            <button class="uk-button uk-button-default" (click)="toggle()">
                <app-fa [condition]="lock" baseClass="fal fa-fw" truthyIcon="fa-lock-open-alt" falsyIcon="fa-lock-alt"></app-fa>
                Click
            </button>
        </article>

        <hr>

        <article class="uk-article">
            <h2>Modal</h2>
            <button class="uk-button uk-button-default" (click)="openModal()">Open me!</button>
        </article> -->
    </div>
</section>
