.navbar-dark {
  height: 80px;
  display: flex;
  width: 100%;
  border-bottom: 1px solid grey;
  background: #222 !important;
  // background-color: #222;
  z-index: 99;
  top: 0;
}

h3 {
  margin-top: 20px;
}

.title {
  font-family: 'Inconsolata';
  color: rgb(182, 182, 182);
}
