<main>
  <fieldset class="uk-fieldset">
    <legend class="uk-legend">Registrera ny användare</legend>
    <div class="uk-margin">
        <input class="uk-input uk-form-width-medium" type="text" [(ngModel)]="credentials.name" placeholder="användarnamn">
    </div>
    <div class="uk-margin">
        <input class="uk-input uk-form-width-medium" type="email" [(ngModel)]="credentials.email" [email] placeholder="e-post">
    </div>
    <div class="uk-margin">
        <input class="uk-input uk-form-width-medium" type="password" [(ngModel)]="credentials.password" placeholder="lösenord">
    </div>
    <button class="uk-button uk-button-primary" (click)="register()">Registrera</button><small *ngIf="success" class="uk-text-success uk-animation-fade">success!</small>
    <div *ngIf="error">
      <p class="uk-text-warning">{{error.message}}</p>
      <p class="uk-text-warning" *ngIf="error">{{error.text}}</p>
    </div>
  </fieldset>
</main>