<link rel="stylesheet" href="./views/articles/table.css"/>

    
    <div layout="column" layout-align="center center">
            <h1 class="md-title">"Drop down"-menyn representerar artiklar för de datum då prissänkingen upptäcktes.</h1>
            <div layout="row">
              <md-input-container>
<ol class="nya-bs-select" ng-model="artCtrl.selected" ng-change="artCtrl.swapData(artCtrl.selected)">
  <li nya-bs-option="date in artCtrl.dates">
    <a>
      {{date}}
    </a>
  </li>
</ol>
              </md-input-container>
            </div>
            
            <!--<div layout="row">-->
            <!--    <span ng-repeat="tab in artCtrl.dateArray">-->
            <!--        <md-button class="md-raised" ng-click="artCtrl.swapData($index)">{{tab}}</md-button>-->
            <!--    </span>-->
            <!--</div>-->
            <!--<h2 class="md-title">{{artCtrl.selectedDate}}</h2>-->
        <br/>
        <br/>
        <div style="display:table; height:100%; width:100%">
            <div style="display:table-row; height:100%; width:100%">
                <div ui-grid="artCtrl.gridOptions" style="display:table-cell; height:90%; width:90%" ui-grid-selection ui-grid-resize-columns></div>
            </div>
        </div>
    </div> 



<!--
    <md-tabs md-center-tabs="true" md-border-bottom md-autoselect md-stretch-tabs md-dynamic-height>
        <md-tab ng-repeat="articles in artCtrl.list">
            <md-tab-label>
                <div style="color:#4D754D">{{articles.date}}</div>
            </md-tab-label>

            <md-tab-body flex>
                
                
            </md-tab-body>
        </md-tab>
    </md-tabs>
-->