<div>
  <div [hidden]="!chartOptions">
    <div class="uk-child-width-1-2" uk-grid>
      <div>
        <h2>Dags för realisation</h2>
      </div>
      <div *ngIf="statistics">
        <select class="uk-select" (change)="onFilterChange($event.target.value)">
          <option *ngFor="let varugrupp of statistics">{{varugrupp.type}}- ({{varugrupp.count}})</option>
        </select>
      </div>
    </div>
    <div *ngIf="!loading">
      <canvas id="bubble-chart">{{ chart }}</canvas>
    </div>
  </div>
</div>
