/* You can add global styles to this file, and also import other style files */
@terminal-font: 'Inconsolata';
@terminal-font-escaped: escape(@terminal-font);

// @import "~@ng-select/ng-select/themes/default.theme.css";
@import (css) "node_modules/@ng-select/ng-select/themes/material.theme.css";

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.googleapis.com/css?family=@{terminal-font-escaped}');
}

html, body{
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: #222;
}

.space50 {
  margin-top: 50px;
}