<section class="uk-section">
    <div class="uk-container">
        <h1 class="uk-heading-divider">Random stuff - About</h1>

        <article class="uk-article">
            <ul uk-accordion="collapsible: false">
                <li>
                    <a class="uk-accordion-title">About</a>
                    <div class="uk-accordion-content">
                        <h4>"Development environment"</h4>
                        <p>
                            This section goes in-depth of how this app uses certain quality-of-life solution to make the development run smoothly using Angular and Nodejs
                            while developming front-end applications. While a future version of this application may have full MongoDB support via cosmos DB, this has
                            not yet been implemented except for partially commented out code of how such a connection can be initiated.
                        </p>
                    </div>
                </li>
                <li>
                    <a class="uk-accordion-title">package.json</a>
                    <div class="uk-accordion-content">
                        <h4>"plugins"</h4>
                        <ul>
                            <li>
                                <strong>npm-run-all: </strong>
                                <div>
                                    Allows for a cross platform safe way to run multiple package.json tasks in parallel.
                                    This is used by using the <code>run-p</code> command in your script.
                                </div>
                            </li>
                            <li>
                                <strong>nodemon: </strong>
                                <div>
                                    Let's us watch for file-changes and automatic restart of the nodejs instance.
                                    Nodemon allows for configuration inside the package.json, we utilize this in our package.json file the following way:
                                </div>
                                <pre>
                                    "nodemonConfig": {{ '{' }}
                                    "watch": [
                                    "src/server"
                                    ]
                                    {{ '}' }},
                                    scripts: {{ '{' }}
                                    ...
                                    {{ '}' }}
                                </pre>
                                This means that if changes are detected inside the src/client folder, the nodejs instance will not restart.
                            </li>
                            <li>
                                <strong>dotenv</strong>
                                <div>
                                    Dotenv is a zero-dependency module that loads environment variables from a .env file into process.env.
                                    Storing configuration in the environment separate from code is based on
                                    <a href="http://12factor.net/config" target="_blank">The Twelve-Factor App methodology.</a>
                                    <p>By creating a .env file in the root and adding <code>dotenv/config</code> to your package.json script,
                                        we can add a OS-independent way to initiate our nodejs server with app-specific content.</p>
                                        Example of the content inside the .env file:
                                        <pre>
                                            NODE_ENV=development
                                            PORT=9090
                                            PUBLICWEB=./dist/publicweb
                                        </pre>
                                        <div class="uk-text-success">
                                            dotenv has become a commonly exceptet module to handle the environmental variables and is even referenced in microsoft azure's docs
                                            quickstart <a href="https://docs.microsoft.com/en-us/azure/cosmos-db/mongodb-mongoose" target="_blank">guide</a> of getting up and running with cosmos db
                                        </div>
                                        <br>
                                        <div class="uk-text-danger">
                                            Note: the .env file should be inside .gitignore as it may contain non-public data such
                                            as database and authentication keys.
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a class="uk-accordion-title" href="#">run scripts</a>
                        <div class="uk-accordion-content">
                            <ul>
                                <li>
                                    <pre>"dev": "run-p client server"</pre>
                                    <div>
                                        Uses <a href="https://github.com/mysticatea/npm-run-all" target="_blank">npm-run-all</a> to run the server and client scripts in parallel.
                                    </div>
                                </li>
                                <li>
                                    <pre>"client": "ng serve --proxy-config proxy.conf.json --open"</pre>
                                    <div>
                                        Compiles the frontend code and serves it from memory (instead of from disk) - hence no <code>dist</code> folder will be created.
                                        Since we're using a nodejs server running in parallel on a seperate port, we're utilizing the --proxy-conf flag to setup a proxy for
                                        our API calls to point to the port where our local node-server is running. Create a proxy.conf.json file in the project root with
                                        the following content:
                                        <pre>
                                            {{ '{' }}
                                            "/api": {{ '{' }}
                                            "target": "http://localhost:9090",
                                            "secure": false
                                            {{ '}' }}
                                            {{ '}' }}
                                        </pre>
                                        This will point all outgoing ajax calls that starts with '/api' to post 9090. Which is the port number we have defined in our .env file.
                                    </div>
                                </li>
                                <li>
                                    <pre>"server": "nodemon -r dotenv/config src/server/index.js"</pre>
                                    <div>
                                        Uses <a href="https://github.com/remy/nodemon" target="_blank">nodemon</a> to wrap and listen to changes of a nodejs instance.
                                        See nodemon description in the "plugins" section above.
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
        </article>
    </div>
</section>
