<div layout-margin layout-padding>
  <md-toolbar scroll class="xtoolbar" layout-padding>
    <div class="md-toolbar-tools" layout-padding>
        <!-- commenting out due to not displaynig date properly.
        <h1 style="margin:30px 0px 0px 30px; color:red; background:white; border:black 1px solid">{{vm.scannedDate}}</h1>-->
        <span flex></span>

    </div>
    <md-tabs md-border-bottom md-selected="vm.selectedIndex" md-center-tabs="true" layout-margin>
        <md-tab id="tab1" aria-controls="tab1-content" md-on-deselect="vm.savedCheck(tab1)">Inställningar</md-tab>
        <md-tab id="tab2" aria-controls="tab2-content" ng-disabled="!vm.userFound">Prishistorik</md-tab>
        <md-tab id="tab2" aria-controls="tab3-content" ng-disabled="!vm.userFound">Vanliga frågor</md-tab>
    </md-tabs>
  </md-toolbar>

  <md-content class="transborder">
    <div ng-if="vm.selectedIndex == 1;"><p>Flikarna nedan representerar artiklar för de datum då prissänkingen upptäcktes.</p></div>
      <ng-switch on="vm.selectedIndex" class="tabpanel-container">
 
          <div role="tabpanel" id="tab1-content" aria-labelledby="tab1" ng-switch-when="0" md-swipe-left="tabs.next()" md-swipe-right="tabs.previous()">
              <options-tab ng-hide="vm.shutDown"></options-tab>  
          </div>
          <md-progress-circular ng-show="vm.serverPinging" md-diameter="80" md-mode="indeterminate" layout-padding></md-progress-circular>  
          <div role="tabpanel" id="tab2-content" aria-labelledby="tab2" ng-switch-when="1" md-swipe-left="tabs.next()" md-swipe-right="tabs.previous()">        
              <article-tabs ng-hide="vm.shutDown"></article-tabs>
          </div>
          <div role="tabpanel" id="tab3-content" aria-labelledby="tab3" ng-switch-when="2" md-swipe-left="tabs.next()" md-swipe-right="tabs.previous()">  
            <div layout="row">
              <div flex="20"></div>
                  <md-card flex="60">
                     <md-card-content style="text-align: left;">
                       <br>
                       <h2>Vad är det här?</h2>
                       <p>Det här är en sida som presenterar de artiklar som prissänkts på systembolaget; Både inom deras ordinarie sortiment men även på beställningssortimentet</p>
                       <br>
                       <h2>Systembolaget har väl aldrig rea?</h2>
                       <p>Korrekt! Systembolaget rear inte, samtliga artiklars slutgiltiga pris är ett resultat av en prisberäkningsmodell,<br>
                       om leverantören sänker priset för en vara, sänks även priset på hyllan per automatik.</p>
                       <br>
                       <h2>Hur ser systembolagets prissänkningsmodell ut?</h2>
                       <p>Kul fråga... All prissättning utgår från inköpspris mellan systembolaget och leverantören för artikeln i fråga.</p>
                       <p><b>Steg 1:</b> 
                       Inledningsvis räknas alkoholskatten bort från inköpspriset, därefter lägger man på en procentmängd på det avskalade priset. (typ 19%-ish, oavsett dryckestyp)</p>
                       <p><b>Steg 2:</b><br>
                       Sedan utförs ett fast prispåslag, men denna gång är det baserat på varugruppen för artikeln. Påslaget är 3,50 kr för vin, 0,85 kr för öl, etc.</p>
                       <p><b>Steg 3:</b><br>
                       Priset kompletteras med samma summa som man drog bort vid steg 1 då alkoholskatten subtraherades från priset</p>
                       <p><b>Steg 4:</b><br>
                       Momspåslaget och avrundning.</p>
                       <br>
                       <h2>Varan jag vill ha finns ju inte i lager någonstans, vad fyller sidan då för funktion?</h2>
                       <p>Utmärkt fråga! Svaret är enkelt: Beställ beställ beställ beställ! Majoriteten av de produkter som sänks finns troligen inte ens med på det ordinarie sortimentet.<br>
                       Till höger i listan för respektive artikel finns en länk till Systembolagets hemsida, där kan man beställa allt till sin lokala butik om så önskas. <br>
                       Undantag är de artiklar som är begränsade till ett visst län på leverantörens begäran. </p>
                       <br>
                       <h2>Varför sänker leverantören priset på en vara plötsligt med 50%?</h2>
                       <p>Oftast handlar det om att leverantören i fråga inte längre kommer köpa in mer av just den varan, eller varor från just den producenten - och vill därför<br>
                       tömma sitt lager på berörda artiklar för att få plats med annat. Ett annat scneario är tex. då artikeln helt enkelt ska byta namn och kanske då även pris, <br>
                       då kan varan sänkas för att påskynda processen innan det nya varunamnet dyker upp på hyllan, med samma innehåll, fast 40kr dyrare.</p>
                       <br>
                       <h2>Hur sprids informationen om prissänkningar? Hur kan det komma sig att ett antal av de varor som visas här redan är slut?</h2>
                       <p>Systembolaget har ungefär 670 olika leverantörer, när en vara sänks i pris brukar leverantören vara väldigt mån om att meddela detta i sitt nyhetsbrev.<br>
                       Då det är på gränsen till orimligt att prenumerera på 670 nyhetsbrev är den här sidan sättet att trots allt hinna först. Ryktet om en stor prissänkning <br>
                       kommer naturligtvis att sprida sig väldigt snabbt och alla känner någon som känner någon som prenumererar på just det där nyhetsbrevet.</p>
                       <br>
                       <h2>Hur får den här sidan reda på eventuella prissänkningar?</h2>
                       <p>Den jämför priset på 18 000 artiklar med priset på 18 000 artiklar nästa dag.</p>
                     </md-card-content>
                  </md-card>
              </div>
          </div>
      </ng-switch>
  </md-content>
</div>
<!--
    <md-tabs md-dynamic-height="" md-center-tabs="true" md-selected="vm.selectedIndex" md-border-bottom="">
        <-- Tab 1  <md-tab label="Options"  ng-disabled="!vm.serverPinged">         -- >
        <md-tab label="Inställningar" ng-disabled="vm.shutDown">
          	<div layout="column" layout-align="center center">
                <options-tab layout-margin></options-tab>   
            </div>
          </md-tab>
        <-- Tab 2    <md-tab label="Price history"  ng-disabled="!vm.serverPinged"> -- >
        <md-tab label="Prishistorik" ng-disabled="vm.shutDown">

          	<div layout="column" layout-align="center center" ng-hide="vm.shutDown">
              <article-tabs layout-margin></article-tabs>
            </div>

        </md-tab>
        
      </md-tabs>-->